@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", cursive;
  /* border: 1px solid red; */
}
.about-me {
  background-color: rgba(106, 30, 213, 0.362);
  color: rgba(203, 123, 240, 0.959);
  font-size: 40px;
  border-radius: 25px;
  border: 2px solid whitesmoke;
}
header {
  padding: 2rem;
  border-radius: 5%;
  height: auto;
  top: 0;
  position: relative;
  height: 30%;
  width: 40%;
  border-right: 6px inset rgba(143, 3, 174, 0.256);
  background-color: rgba(69, 14, 172, 0.816);
  border-bottom: 6px inset rgba(143, 3, 174, 0.256);
}
.circle-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px inset rgba(143, 3, 174, 0.256);
  background-color: rgba(69, 14, 172, 0.816);
}
.circle-2 {
  position: absolute;
  bottom: -40rem;
  left: 0;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  border: 6px inset rgba(143, 3, 174, 0.256);
  background-color: rgba(69, 14, 172, 0.816);
}
.circle-3 {
  position: absolute;
  right: -63rem;
  top: 27rem;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 6px inset rgba(143, 3, 174, 0.256);
  background-color: rgba(69, 14, 172, 0.816);
}
.wallpaper {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: crisp-edges;
  background-position: center;
  z-index: -1;
  bottom: 18%;
  left: 60%;
}
.wallpaper img {
  border-radius: 30%;
}

picture img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  display: block;
  margin: 10px auto 0;
  box-shadow: 2px 2px whitesmoke;
}
.header-info {
  display: block;
  align-items: center;
  width: 100%;
  margin: 15px auto 0;
  font-size: 25px;
  padding: 5px;
  color: whitesmoke;
  text-align: center;
}
.header-info h2 {
  color: rgba(203, 123, 240, 0.959);
  font-size: 45px;
}

.list-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
li {
  list-style: none;
}
.list-elements > li > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.projects-h2 {
  background-color: rgba(69, 14, 172, 0.816);
  color: rgba(203, 123, 240, 0.959);
  font-size: 40px;
  width: 100%;
  border-bottom: 4px solid whitesmoke;
}
.header-section {
  width: 75%;
  height: 100%;
  margin: auto;
}
.header-section h2 {
  text-align: center;
  position: relative;
}
.header-section > p {
  width: 100%;
  padding-left: 1rem;
}
.main-section {
  position: absolute;
  left: 33.3%;
  bottom: 20%;
  width: 100%;
  z-index: -1;
  justify-content: start;
  border: 3px inset rgba(116, 2, 142, 0.35);
  z-index: 1;
}
.main-section h2 {
  text-align: center;
}

.main-container {
  position: relative;
  height: 70vh;
  width: 75%;
  display: flex;
  color: white;
  border-left: 6px inset rgba(116, 2, 142, 0.35);
  border-bottom: 6px inset rgba(143, 3, 174, 0.256);
  border-radius: 30%;
}
p {
  font-size: 22px;
  color: white;
  margin-top: 1rem;
}

.social-media {
  font-size: 25px;
  text-align: center;
  width: 30%;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

i {
  color: whitesmoke;
  padding-top: 5px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  height: auto;
  justify-content: start;
  padding-top: 10px;
  padding-left: 1rem;
  background-color: rgba(69, 14, 172, 0.816);
  border-bottom: 6px inset rgba(143, 3, 174, 0.256);
}
.projects {
  width: 20%;
  height: auto;
  padding-top: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.projects img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding: 0;
  border: 3px inset rgba(143, 3, 174, 0.256);
}
.projects h4 {
  text-align: center;
  font-size: 25px;
  background-color: rgba(49, 11, 85, 0.705);
  border: 3px inset rgba(143, 3, 174, 0.256);
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 600px), (max-height: 844px) {
  header {
    position: relative;
    height: 20%;
    width: 100%;
    border-right: 6px inset rgba(143, 3, 174, 0.256);
    background-color: rgba(69, 14, 172, 0.816);
    border-bottom: 6px inset rgba(143, 3, 174, 0.256);
    border-radius: 0;
  }
  .circle-1 {
    display: none;
  }
  .circle-2 {
    display: none;
  }
  .circle-3 {
    display: none;
  }
  .wallpaper {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: crisp-edges;
    background-position: center;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .wallpaper img {
    width: 100%;
    height: 250px;
    border-radius: 10%;
  }
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 5px;
    color: whitesmoke;
    text-align: center;
  }
  .header-info h2 {
    font-size: 35px;
    width: 100%;
  }
  .header-section {
    width: 100%;
  }
  .header-section > p {
    padding: 1rem;
  }
  .list-elements {
    display: flex;
    justify-content: space-between;
  }
  .list-elements > li > img {
    width: 50px;
    height: 50px;
  }
  .main-container {
    width: 100%;
    border-radius: 0;
    border: none;
  }
  .main-section {
    position: relative;
    left: 0;
    top: 1%;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    color: white;
    border-right: 6px inset rgba(116, 2, 142, 0.35);
    background-color: rgba(69, 14, 172, 0.816);
  }
  .projects-container {
    display: flex;
    justify-content: start;
    gap: 2.2rem;
    left: 0;
    width: 100%;
    height: auto;
  }
  .projects {
    width: 25%;
    height: auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 0;
    border: 3px inset rgba(143, 3, 174, 0.256);
  }
  .projects h4 {
    text-align: center;
    font-size: 18px;
    background-color: rgba(49, 11, 85, 0.705);
    border: 3px inset rgba(143, 3, 174, 0.256);
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
  .projects-h2 {
    font-size: 35px;
  }
  .social-media {
    font-size: 20px;
  }
}
